// app global css in Sass form
.bg-midnight {
  background-color: #004852;
}
.bg-cadet {
  background-color: #54acb6;
}
.bg-electric {
  background-color: #8eedf6;
}
.bg-cornflower {
  background-color: #a5b6da;
}
.bg-violet {
  background-color: #ddd9f5;
}

.text-midnight {
  color: #004852;
}
.text-cadet {
  color: #54acb6;
}
.text-electric {
  color: #8eedf6;
}
.text-cornflower {
  color: #a5b6da;
}
.text-violet {
  color: #ddd9f5;
}
.text-white {
  color: white;
}

.midnight {
  color: #004852;
}
.cadet {
  color: #54acb6;
}
.electric {
  color: #8eedf6;
}
.cornflower {
  color: #a5b6da;
}
.violet {
  color: #ddd9f5;
}
